body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10pt;
  margin: 20px;
  margin-right: 17px;
  margin-bottom: 15px;
  margin-top: 10px;

}

h1 {
  width: 100%;
}
h2 {
  width: 50%;
}

img {
  float: right;
  margin: auto;
  width: 210px;
}

.tski {
  position: absolute;
  top: 110px;
  left: 20px;
  height: 380px;
  width: 28%;
  background-color: #eee;
  padding: 15px;
}


.tski img{
  margin: auto;
  margin-top: 15px;
  margin-right: 23px;
  width: 90%;
}

.tski h3{
  margin-top: 0px;
  text-align: center;
}

.ski {
  padding: 10px;
  background-color: white;
  height: 325px;
  width: 95.5%;
}

.trains {
  position: absolute;
  top: 525px;
  left: 20px;
  height: calc(100vh - 535px);
  width: 30%;
  background-color: #eee;
}
.trains h3{
  text-align: center;
}

#map {
  position: absolute;
  top: 110px;
  right: 17px;
  height: calc(100vh - 120px);
  width: 67%;
  background-color: #eee;
}
