body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10pt;
  margin: 1%;
  margin-right: 1%;
  margin-bottom: 0.8%;
  margin-top: 0.8%;

}

h1 {
  width: 100%;
}
h2 {
  width: 50%;
}

img {
  float: right;
  margin: auto;
  width: 200px;
}

.tski {
  position: absolute;
  top: 15%;
  height: 53%;
  width: 28%;
  background-color: #eee;
  padding: 15px;
}


.tski img{
  margin: auto;
  margin-top: 3.5%;
  margin-right: 4.6%;
  width: 90%;
}

.tski h3{
  margin-top: 0px;
  text-align: center;
}

.ski {
  padding: 10px;
  background-color: white;
  height: 325px;
  width: 95.5%;
}

.ttrains {
  position: absolute;
  top: 74%;
  height: 19.1%;
  width: 28%;
  background-color: #eee;
  padding: 15px;

}
.ttrains h3{
  margin-top: 0px;
  text-align: center;
}

.trains {
  padding: 10px;
  background-color: white;
  height: 10%;
  width: 95.5%;
}

#map {
  position: absolute;
  top: 15%;
  right: 1%;
  height: 82%;
  width: 67%;
  background-color: #eee;
}
